<div class="container">
  <h1 class="text-center">Text Similarity</h1>
  <div class="col-6">
    <form class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="mb-3">
        <label class="form-label">First text</label>
        <textarea [(ngModel)]="firstText" class="form-control" name="text-1" rows="10"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Second Text</label>
        <textarea [(ngModel)]="secondText" class="form-control" name="text-2" rows="10"></textarea>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
    </form>
  </div>
</div>
